*.swp
*.o
*.mod
*.exe
*.so
*.pyc
fortran/run/out/*
fortran/run/prog/*
fortran/run/out_io/*
fortran/run/log/*
fortran/run/test/out/*
fortran/numerics/test_advection/out/*
fortran/numerics/test_advection/test_out/*
matlab/main/out
