*.DS_Store
*.swp
*.o
*.mod
*.exec
*.so
*.pyc
*fort.6
#
fortran/scripts/infile_nonIO.txt
fortran/scripts/infile_dirs.txt
fortran/scripts/inputs/*
fortran/scripts/out/*
fortran/scripts/out_1d/*
fortran/scripts/out_2/*
fortran/scripts/prog/*
fortran/scripts/out_io/*
fortran/scripts/log/*
fortran/scripts/test/out/*
fortran/scripts/fig_scripts/Boltzmann_kernel/out/*
fortran/scripts/fig_scripts/datfiles/*
fortran/scripts/test/out_io/*
#
fortran/bin/*
fortran/numerics/test_advection/out/*
#
fortran/grid_setup/infile_grid.txt
fortran/grid_setup/test/out/*
fortran/grid_setup/test/out_py/*
#
!fortran/macbin/*
fortran/src/numerics/test_advection/out/*
fortran/src/numerics/test_advection/figs/*
fortran/src/numerics/test_advection/infile.txt
fortran/scripts/fig_scripts/figs/profiles/*
fortran/scripts/fig_scripts/figs/*.png
fortran/scripts/fig_scripts/figs/TC2S/*
!fortran/scripts/fig_scripts/figs/TC2S/do_plot.py
fortran/scripts/results/*
#
matlab/main/out
matlab/main/results
matlab/main/m_out
matlab/main/out_io
matlab/main/out_2
matlab/main/log
matlab/main/infile_matlab.txt
matlab/main/infile_dirs.txt
matlab/boltzmann/out/*
matlab/boltzmann/*.mat
matlab/boltzmann/solve_boltzmann_numeric.m
*.m~
#
neXtSIMcoupling/results/*
neXtSIMcoupling/run/*
neXtSIMcoupling/local_data/MATLAB/*

# include these files from "neXtSIMcoupling/run" in repo
!neXtSIMcoupling/run/*.m
!neXtSIMcoupling/run/*.py
!neXtSIMcoupling/run/*.sh
!neXtSIMcoupling/run/infiles
neXtSIMcoupling/tutorial/out/*
neXtSIMcoupling/local_data/*

CXX/out_cpp
CXX/lib
CXX/bin

fortran/grid_setup/infile_waves.txt

matlab/numerics/testing/test_fou.mat
