*.swp
*.o
*.mod
*.exe
*.so
*.pyc
*fort.6
#
fortran/run/inputs/*
fortran/run/out/*
fortran/run/prog/*
fortran/run/out_io/*
fortran/run/log/*
fortran/run/test/out/*
fortran/run/fig_scripts/Boltzmann_kernel/out/*
fortran/run/fig_scripts/datfiles/*
fortran/run/test/out_io/*
fortran/numerics/test_advection/out/*
fortran/grid_setup/test/out/*
fortran/grid_setup/test/out_py/*
fortran/bin/*
fortran/header_files/*
fortran/numerics/test_advection/test_out/*
fortran/numerics/test_advection/figs/*
fortran/run/fig_scripts/figs
fortran/run/results/*
#
matlab/main/out
